<h1 align="center">
  Index
</h1>

  <% @articles.each do |x| %>
  <div class="well well-lg">
    

    <h3 align="center">
      <%= link_to x.title, article_path(x) %>
    </h3>
    <p align="center"><strong>
      <%= truncate(x.description, length:100) %>
      </strong>
    </p>
    <div class="article-actions" align="center">
    <%= link_to 'Edit', edit_article_path(x) ,class: "btn btn-primary" %> 
     
    <%= link_to 'Delete', article_path(x),class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
   </div>
  <% end %>
  